<!DOCTYPE html>
<html lang="en">
<head>
    <title>Students</title>
</head>

<body>
    
    <a href="http://127.0.0.1:7000/">Student Registration</a>
    
    <h1>Student Table</h1>
    <table border="1" width="100%">
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile No.</th>

        </tr>
        <% if(students.length > 0){ %>
            <% for(var i=0; i<students.length; i++){ %>
                <tr>
                    <th><%- students[i].id %></th>
                    <th><%- students[i].name %></th>
                    <th><%- students[i].email %></th>
                    <th><%- students[i].mno %></th>
                </tr>

                 <% } %>

            <% }else{ %>
                    <h1>Data Not Found</h1>
                <% } %>
    </table>
</body>
</html>